
QWidget {
    background-color: rgb(68, 68, 68);
}

QPushButton:focus {
    outline: 0;
}

QCheckBox:focus {
    outline: 0;
}

QLabel, QComboBox, QPushButton, QGroupBox {
    color: white;
}

QGroupBox, QPushButton {
    font-size: 32px;
}

QLabel, QComboBox {
    font-size: 24px;
}

QGroupBox {
    border: none;
}

QComboBox {
    height: 30px;
    border: 2px solid rgb(25, 156, 244);
    border-radius: 10px;
    padding: 10px 20px;
}

QComboBox QAbstractItemView {
    color: white;
}

QComboBox::drop-down {
    border: none;
}

QComboBox::down-arrow {
    image: url(:/resources/images/dropdown.png);
    subcontrol-origin: padding;
    subcontrol-position: right;
    padding-right: 10px;
    width: 25px;
    height: 25px;
}

QPushButton#pb_start:enabled {
    border: 3px solid rgb(96, 196, 71);
    border-radius: 10px;
}

QPushButton#pb_stop:enabled {
    border: 3px solid rgb(232, 8, 8);
    border-radius: 10px;
}

QPushButton#pb_close {
    border: none;
}

QPushButton:disabled {
    border: 3px solid gray;
    border-radius: 10px;
    color: gray;
}
